absl-py @ file:///croot/absl-py_1714140470852/work
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1725434011349/work
aiohttp @ file:///croot/aiohttp_1725527756643/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
async-timeout @ file:///croot/async-timeout_1703096998144/work
attrs @ file:///croot/attrs_1729089401488/work
blinker @ file:///croot/blinker_1696539051175/work
Brotli @ file:///croot/brotli-split_1714483155106/work
cachetools @ file:///croot/cachetools_1713977085444/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi @ file:///croot/cffi_1726856441404/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1698129812380/work
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cryptography @ file:///croot/cryptography_1724940562255/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
einops==0.8.1
fonttools @ file:///croot/fonttools_1713551344105/work
frozenlist @ file:///croot/frozenlist_1698702560391/work
future==1.0.0
google-auth @ file:///croot/google-auth_1715111149956/work
google-auth-oauthlib @ file:///opt/conda/conda-bld/google-auth-oauthlib_1660687784486/work
grpcio @ file:///croot/grpc-split_1716834572340/work
idna @ file:///croot/idna_1714398848350/work
imageio==2.35.1
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
importlib_resources @ file:///croot/importlib_resources-suite_1720641103994/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
loguru==0.7.3
Markdown @ file:///croot/markdown_1671541909495/work
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib @ file:///croot/matplotlib-suite_1693812469450/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
multidict @ file:///croot/multidict_1701096859099/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
oauthlib @ file:///croot/oauthlib_1679489621486/work
opencv-python==4.10.0
opencv-python-headless==4.10.0
packaging @ file:///croot/packaging_1720101850331/work
pillow @ file:///croot/pillow_1721059439630/work
platformdirs @ file:///croot/platformdirs_1692205439124/work
ply==3.11
pooch @ file:///croot/pooch_1695850093751/work
protobuf==4.25.3
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT @ file:///croot/pyjwt_1715094751094/work
pyOpenSSL @ file:///croot/pyopenssl_1723651579422/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pypng==0.20220715.0
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
PyYAML==6.0.2
requests @ file:///croot/requests_1721410876868/work
requests-oauthlib @ file:///croot/requests-oauthlib_1720615017878/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scipy==1.10.1
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
tensorboard @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/tensorboard_1682445826165/work/tensorboard-2.12.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/builder/tkoch/workspace/tensorflow/tensorboard-plugin-wit_1658918494740/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorboard_data_server @ file:///croot/tensorboard-data-server_1724172556187/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=7da966c3e116be7b4d44cd25a804e06f45fa6d4a1f03819052dd9cb3482b141a
timm==0.4.12
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch==1.6.0
torchvision==0.7.0
tornado @ file:///croot/tornado_1718740109488/work
tqdm==4.67.1
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
urllib3 @ file:///croot/urllib3_1727769808118/work
Werkzeug @ file:///croot/werkzeug_1716533313107/work
yacs==0.1.8
yarl @ file:///croot/yarl_1725976495189/work
zipp @ file:///croot/zipp_1729012354496/work
